li{
    list-style: none;
    padding: 0 1rem
}
ul{
    display: flex;
    justify-content: space-around;
    padding: 0;

}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
    background: rgb(57, 57, 57);
    font-weight: 900;
    color: white;
    font-size: 1.5rem;
}